/*variable*/
:root {
  --foreground-color: #2c3034;
  --foreground-active: #34383c;
  --font-color: #7f7f7f;
  --font-color-active: #bbbbbd;
  --icon-color-active: #f66673;
  --font: "Montserrat", sans-serif;
  --background-color: #23242b;
  --border-color: #5d4192;
  --nav-size: min(18rem, 25%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font);
}

body {
  color: var(--font-color);
  background-color: var(--background-color);
}

nav {
  height: 100vh;
  width: var(--nav-size);
  padding-top: 0.8vw;
  background-color: var(--foreground-color);
  position: fixed;
  left: 0;
  font-size: 1rem;
  font-weight: 600;
  border-right: 1.2px solid var(--font-color);
}

.navigation-title {
  color: var(--font-color-active);
  font-size: min(2rem, 3vw);
  margin-bottom: 2.5rem;
  height: 7vh;
  display: flex;
  align-items: center;
}
.navigation-title > i {
  color: var(--font-color);
  margin-left: 2vw;
  margin-right: 1.5vw;
}

.navigation-list {
  list-style: none;
  width: 100%;
}
.navigation-items > i {
  margin-right: 1.5vw;
  margin-left: 2vw;
}
.navigation-items {
  font-size: min(1.5rem, 2.3vw);
  width: 100%;
  height: 2rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navigation-items:hover {
  border-left: 1px solid var(--icon-color-active);
  background-color: var(--foreground-active);
}

.navigation-list > .active {
  border-left: 1px solid var(--icon-color-active);
  background-color: var(--foreground-active);
}
.navigation-list > .active > i {
  color: var(--icon-color-active);
}

.help-list {
  list-style: none;
  width: 100%;
  margin-top: 8vw;
}
.help-items {
  font-size: min(1.5rem, 2.3vw);
  width: 100%;
  height: 2rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.help-items:hover {
  border-left: 1px solid var(--icon-color-active);
  background-color: var(--foreground-active);
}

.help-items > i {
  margin-right: 1.5vw;
  margin-left: 2vw;
}

header {
  margin-left: var(--nav-size);
  background-color: var(--foreground-color);
  border-bottom: 1.2px solid var(--font-color);
  height: 19vh;
}

.header-top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40%;
  padding-top: 0.8vw;
}

.search-box {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 4%;
  margin-right: 3%;
}

.search-box > input {
  width: 90%;
  margin-left: 1rem;
  border-radius: 40px;
  border: none;
  background-color: var(--font-color);
  color: var(--font-color-active);
  padding-inline: 1rem;
  height: 1.2rem;
}

.search-box > input:focus {
  outline: none;
}

.user-info-corner-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 4%;
  height: 100%;
}

.user-info-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.name-corner {
  font-size: 0.6em;
  font-weight: 700;
  white-space: nowrap;
  color: var(--font-color-active);
}

.profile-photo-corner {
  height: 80%;
  margin-right: 0.6rem;
  margin-left: 1rem;
}

.header-bottom {
  height: 55%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.greeting-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  margin-left: 4%;
  width: 60%;
}

.greeting {
  font-size: min(0.8rem, 2.5vw);
}

.user-info {
  display: flex;
  flex-wrap: wrap;
}

.name {
  font-size: min(1.5rem, 3vw);
  font-weight: 700;
  color: var(--font-color-active);
  margin-right: 2%;
}

.username {
  font-size: min(1.5rem, 3vw);
  font-weight: 700;
  color: var(--font-color-active);
}

.profile-photo {
  height: 80%;
  margin-right: 1rem;
}

.greeting-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.buttons {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: space-around;
  align-items: center;
  margin-right: 4%;
  width: 40%;
}

.buttons > button {
  margin-left: 1rem;
  border-radius: 40px;
  height: min(5vw, 2rem);
  width: min(14vw, 70px);
  background-color: var(--foreground-active);
  border: 1px solid var(--font-color);
  color: var(--font-color);
  cursor: pointer;
  font-size: min(2.8vw, 0.8rem);
}

main {
  margin-left: var(--nav-size);
  background-color: var(--background-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.projects {
  margin-left: 4%;
  margin-top: 3vw;
  width: max(16rem, 60%);
}

.project-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-around;
}

.project-card {
  background-color: var(--foreground-color);
  overflow: hidden;
  position: relative;
  width: min(16rem, 32vw);
  height: min(10rem, 24vw);
  border-radius: 10px;
  border-left: min(10px, 2vw) solid var(--border-color);
  padding-inline: 0.5rem;
  padding-top: 1.5%;
  margin-bottom: 3vw;
}

.project-title {
  font-size: min(1.2rem, 2.5vw);
  font-weight: 600;
  color: var(--font-color-active);
  margin-bottom: 3%;
}

.project-details {
  font-size: min(0.75rem, 1.8vw);
}

.icon-group {
  position: absolute;
  right: 6%;
  bottom: 6%;
  font-size: min(1rem, 1.8vw);
}

.icon-group > i {
  margin-left: min(1rem, 1vw);
  cursor: pointer;
}

.heading {
  font-size: min(3vw, 1.2rem);
  font-weight: 600;
  color: var(--font-color-active);
  margin-bottom: 1rem;
}

.announcements-people-container {
  display: flex;
  flex-flow: column wrap;
  margin-left: 4%;
  margin-top: 3vw;
  margin-right: 4%;
}

.announcement {
  width: 90%;
}

.announcement-card {
  background-color: var(--foreground-color);
  border: 1px solid black;
  border-radius: 10px;
  width: 16rem;
  height: min(40vw, 20rem);
  font-size: min(2vw, 0.8rem);
  padding: 12%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.announcement-title {
  font-weight: 600;
}

.announcement-seperator {
  width: 100%;
  border: 0.1px solid var(--font-color);
  margin-top: 5px;
  margin-bottom: 5px;
}

.people {
  margin-top: 1rem;
}

.people-card {
  background-color: var(--foreground-color);
  padding: 5%;
  border: 1px solid black;
  border-radius: 10px;
  width: 16rem;
  height: min(35vw, 11rem);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
}

.person {
  height: min(8vw, 3rem);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.people-photo {
  height: 80%;
  background-color: white;
  border-radius: 40px;
  margin: 1rem;
  margin-right: 1.5rem;
}

.people-username {
  font-size: min(3vw, 1.2rem);
  font-weight: 600;
  color: var(--font-color-active);
}
